.textarea {
  max-width: 100%;
  width: 100%;
  height: 40vh;
}

.chip {
  background-color: green;
  color: white;
}

.chip-wrapper {
  text-align: center;
}

.in {
  opacity: 1;
    -webkit-transform-origin: -100% 50%;
    transform-origin: -100% 50%;
}

.out {
  opacity: 0;
    -webkit-transform-origin: -100% 50%;
    transform-origin: -100% 50%;
}